/* Start Boxes */
.box_top {
	background-image: url(images/box_top.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 33px;
	background-position: left;
}
.box_border {
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #80C688;
	border-bottom-color: #80C688;
	border-left-color: #80C688;
}
.box_content {
	background: #80C688;
	padding: 2px;
}
/* End Boxes */
